body {
  background: silver;
  font-family: sans-serif;
  color: black;;
  margin: 0;
}
header {
  background: black;
  height: 70px;
  text-align: center;
  padding: 20px;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header li {
  display: inline-block;
  margin-right: 50px;
}
.column {
  width: 427px;
  float: left;
}
.column img{
  height: 400px;
  width: 400px;
  border-radius: 10px;
}
